# Google
GOOGLE_API_KEY=Your_API_KEY
LLM_MODEL="google_genai:gemini-2.5-flash"

# # Langsmith
# LANGSMITH_TRACING=true
# LANGSMITH_API_KEY=Your_API_KEY

# Postgres
POSTGRES_DATABASE_URL="postgresql://postgres:postgres@localhost:5432/postgres"